html, body{
  margin:0;
  height: 100%;
}

.bg{
  display: flex;
  /* image used */
  background-image: url("main-display.jpg");

  /* full height */
  height: 100%;

  /* center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  overflow: hidden;
  position: fixed;  
  border-style: solid;
  border-color: #ffffff;
  margin-top: 50px;
  left: 40%;
  
}

.nav a{
  font-size: 30px;
  color: #ffffff;
  margin: 20px;
  text-decoration: none;
}

.nav a:hover{
  text-decoration: underline;
}