html, body{
  margin:0;
  height: 100%;
}

body{
  background-color: #D7BE50;
}

#banner img{
  width: 100%;
}

#banner h1{
  margin: 0;
  padding: 8%;
  text-align: center;
  color: #D7BE50;
}

#nav{
  text-decoration: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2F57C8;
}

a{
  float: left;
}

#nav a{
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: aliceblue;
  padding: 14px 15px;
}

#nav a:hover{
  background-color: #E8B65E;
}