<!DOCTYPE html>
<html lang="en">
<head>
    <title>Postal Rate Result</title>
</head>
<body>
    <h1>Postal Rate</h1>
    <p>Postal Rate for a "<%= operation %>" with a weight of <%= weight %> oz is: $<%= result %></p>
</body>
</html>